# Git
.git
.gitignore

# Docker
.docker

# IDE
.idea
.vscode

# Python
**/__pycache__
# app/__pycache__
# app/*/__pycache__
# app/*/*/__pycache__
# app/*/*/*/__pycache__

# Environment directories
.env/
.venv/
venv/
